div.inbox-header {
    /**
     * Search form
     */
    section#search-form {
        margin-bottom: 15px;

        form.form-search {
            input.search-query {
                padding-left: 26px !important;
            }
        }
    }

    /**
     * Navigation
     */
    section#tabs {
        tab-heading {
            &.closable {
                // for the close icon button
                margin-right: 14px;
            }

            button {
                position: absolute;
                top: 9px;
                right: 8px;
            }
        }

        div.tab-content {
            padding: 5px 0;
        }
    }
}

header.threads-list-header {
    padding: 0 0 2px 0;
    @headerheight: 40px;
    border-bottom: 1px solid #ddd;

    > div {
        .inlineblock();
        height: @headerheight;
        line-height: @headerheight;

        button {
            margin-top: -4px;
        }

        &.thread-actions {
            @thread-actions-buttons-width: 40px;
            @thread-actions-buttons-height: 34px;
            float: right;

            button {
                width: @thread-actions-buttons-width;
                height: @thread-actions-buttons-height;
            }

            div.button-container {
                .inlineblock();

                &.tags-selector {
                    width: @thread-actions-buttons-width;
                    position: relative;

                    div.custom-popover {
                        display: hidden;
                        position: absolute;
                        z-index: 1000;
                        top: @thread-actions-buttons-height + 2px;
                        right: 14px;
                        width: 180px;
                        max-height: 200px;
                        background: white;
                        .box-sizing();
                        padding: 5px 10px;
                        border: 1px solid #ddd;
                        .drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.5);
                        .rounded(@radius: 4px);
                        overflow: auto;

                        div.tags {
                            margin: 5px 0 0 0;

                            div.tag {
                                height: 22px;
                                line-height: 22px;

                                input[type=checkbox] {
                                    vertical-align: sub;
                                }

                                tag {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
