div.inbox-header {
    /**
     * Search form
     */
    section#search-form {
        margin-bottom: 15px;

        form.form-search {
            position: relative;

            &.form-search:before {
                background-position: -48px 0;
            }

            input.search-query {
                padding-left: 26px !important;
            }
        }
    }

    /**
     * Navigation
     */
    section#tabs {
        tab-heading {
            &.closable {
                // for the close icon button
                margin-right: 14px;
            }

            button {
                position: absolute;
                top: 9px;
                right: 8px;
            }
        }

        div.tab-content {
            padding: 5px 0;
        }
    }
}
