/**
 * List of threads
 */

@threadMargin: 10px;
@threadHeight: 80px;
@avatarSize: 57px;
@attachmentSize: 57px;

header.threads-list-header {
    padding: 0 0 10px 0;
    @headerheight: 40px;

    > div {
        .inlineblock();
        height: @headerheight;
        line-height: @headerheight;

        button {
            margin-top: -4px;
        }

        &.thread-actions {
            float: right;

            button {
                width: 40px;
                height: 34px;

                &.icon-remove {
                    &:before {
                        background-position: -456px 0;
                    }
                }

                &.icon-tags {
                    &:before {
                        background-position: -24px -48px;
                    }
                }
            }
        }
    }

    border-bottom: 1px solid #ddd;
}

section.threads-list {
    ul {
        li {
            min-height: @threadHeight;
            clear: both;
            padding: @threadMargin 0;
            border-left: 8px solid black;
            .transition();
            cursor: pointer;

            &.selected {
                background: #d9dcf9 !important;
            }

            &:first-child {
                margin-top: 12px;
            }

            &:nth-child(even) {
                background-color: #EDEDED;
            }

            input[type=checkbox] {
                float: right;
                margin-top: 24px;
            }

            div.date {
                margin-top: 10px;
            }

            div.avatar {
                img {
                    margin-top: 2px;
                    max-width: @avatarSize;
                    max-height: @avatarSize;
                }
            }

            div.avatar,
            div.nb-messages,
            div.title,
            div.users,
            div.tags,
            div.text,
            div.attachments {
                .inlineblock();
            }

            div.tags {
                .add-label {
                    font-size: 0.7em;
                    color: @defaultTxtColor;
                }
            }

            div.attachments {
                img {
                    cursor: pointer;
                    max-width: @attachmentSize;
                    max-height: @attachmentSize;
                }
            }

            span.tag {
                margin: 0 2px;
            }

            &.unread {
                font-weight: bold;
                color: black;
            }
        }
    }
}
