<header class="msglisthead">
    <span class="col-xs-11">Aujourd'hui 24/12/2013 :
        <a href="#"> Discussions récentes <span class="badge">12</span></a>
        <a href="#"> , non-lues <span class="badge">2</span></a>
    </span>
    <span class="col-xs-1"><input type="checkbox"></span>
</header>
<section>
    <ul class="list-unstyled msglist">
        <li class="row" ng-repeat="message in messages">
            <!--{{message}}-->
            <small class="col-xs-1 ">
                {{message.date_created | date:'medium'}}
            </small>
            <span class="col-xs-1">
                <img src="/static/assets/image/avatar.png" alt="avatar" class="img-circle">
            </span>
            <span class="col-xs-8">
                <div>{{message.author}}
                    <!-- TODO add each label -->
                    <span ng-repeat="label in message.labels">
                        <span class="label label-default">{{label}}</span>
                    </span>
                    <span class="label label-default">Perso</span>
                    <span class="label label-default">Boulot</span>

                    <span class="pull-right " href="#">
                        <span class="glyphicon glyphicon-paperclip"></span> 
                        <!-- TODO add each attached doc -->
                        <img src="/static/assets/image/u982_normal.png" alt="avatar" class="img-rounded">
                        <span ng-repeat="document in message.documents">
                            <img src="/static/assets/image/{{document}}" alt="avatar" class="img-rounded">
                        </span>
                    </span>
                </div>
                <div>
                    <strong>
                        <span class="glyphicon glyphicon-envelope"></span> 
                        <span class="badge">3</span> {{message.title}}
                    </strong>
                    <span class="text-muted">{{message.body}}<span>
                </div>
            </span>
            <span class="col-xs-1">
                <span class="glyphicon glyphicon-lock"></span>
                <div class="progress">

                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </span>
            <span class="col-xs-1">
                <input type="checkbox">
            </span>
        </li>
    </ul>
</section>