<div class="inbox-header">
    <!-- Search form -->
    <section id="search-form" class="row">
        <div class="col-xs-12">
            <form class="form-search icon" ng-submit="submitFilter()">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control search-query"
                        placeholder="Search a message, a contact, a device, a file, a group, an event, a tag..."
                        ng-model="filter.query" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Navigation -->
    <section id="tabs">
        <tabset>
            <tab
                ng-click="loadContent(tab)"
                ng-repeat="tab in tabs"
                heading="{{tab.title}} {{tab.active}}"
                active="tab.active"
                disabled="tab.disabled">

                <tab-heading ng-class="{'closable': tab.closable}">
                    <i
                        ng-if="tab.icon"
                        class="glyphicon glyphicon-{{tab.icon}}">
                    </i>

                    <span
                        tooltip="{{tab.tooltip}}"
                        ng-bind-html="tab.title">
                    </span>

                    <button
                        type="button"
                        class="close"
                        aria-hidden="true"
                        ng-click="closeTab(tab)"
                        ng-if="tab.closable">&times;
                    </button>
                </tab-heading>
            </tab>
        </tabset>
    </section>
</div>

<div class="tabContent" ui-view="tabContent"></div>
