<header class="threads-list-header" ng-show="threads.list.length">
    <div>
        <a href="">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <strong>1</strong>-<strong>{{threads.list.length}}</strong> sur <strong>{{threads.list.length}}</strong>
         -
        <strong>{{threads.unread}}</strong> non-lue<span ng-show="threads.unread > 1">s</span>
        <a href="">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="thread-actions">
        <div ng-show="showThreadActions()">
            <div class="button-container tags-selector" ng-controller="TagSelectorCtrl">
                <button
                    class="btn btn-default icon icon-tags"
                    ng-click="show=!show; openTagSelector(); search=''">
                </button>
                <div class="row custom-popover" ng-show="show">
                    <input type="text" class="form-control" ng-model="search" placeholder="Chercher un tag" />

                    <div class="tags">
                        <div class="tag" ng-repeat="tag in tags | orderBy:'label' | filter:{label:search}">
                            <input type="checkbox" ng-click="setTags(tag)" checked-status="{{tag.isSelected}}" />
                            <tag tag="tag"></tag>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-default icon icon-remove" ng-click=""></button>
            </div>
        </div>
    </div>
</header>

<section overflowed topOffset="60" class="threads-list">
    <div class="col-xs-12" ng-if="!threads.list.length">
        Aucune conversation n'a été trouvée.
    </div>

    <ul class="list-unstyled threads-list">
        <li
            style="border-color: #{{thread.securityColor}}"
            ng-repeat="thread in threads.list | orderBy:'dateUpdated':true"
            ng-class="{'selected': thread.selected, 'unread': thread.isUnread()}"
            ng-click="openThread(thread)">

            <div class="col-xs-1 text-center date">
                {{thread.dateUpdated.format() | date:'medium'}}
            </div>

            <div class="col-xs-1 avatar text-center" >
                <img
                    tooltip="{{thread.getLastUser().displayName()}}"
                    class="img-circle"
                    ng-src="{{thread.getLastUser().getAvatarSrc()}}"
                    alt="avatar" />
            </div>

            <div class="col-xs-8 text">
                <div class="nb-messages">
                    <span class="badge">{{thread.nbMessages}}</span>
                </div>

                <div class="title">
                    {{thread.title}}
                </div>

                <div class="users">
                    <span
                        tooltip="{{thread.users | joinUsers:-1 }}"
                        ng-bind-html="thread.users | joinUsers:3">
                    </span>
                </div>

                <div class="tags">
                    <tag
                        tag="tag"
                        ng-repeat="tag in thread.tags | orderBy:'label'"
                        ng-click="filterByTag(tag.id); $event.stopPropagation()"></tag>
                </div>

                <div class="text text-muted">{{thread.text}}</div>
            </div>

            <div class="col-xs-1">
                <div class="attachments" ng-if="thread.attachment">
                    <img
                        ng-click="openAttachment(thread.attachment); $event.stopPropagation()"
                        ng-src="{{thread.getAttachmentIconSrc()}}" />
                </div>
            </div>

            <div class="col-xs-1">
                <input type="checkbox"
                    ng-model="thread.selected"
                    ng-click="$event.stopPropagation()" />
            </div>
        </li>
    </ul>
</section>
