<header class="threads-list-header" ng-show="threads.length">
    <span class="col-xs-10">
        Aujourd'hui 24/12/2013 :
        <a href="#">Discussions récentes <span class="badge">12</span></a>
        <a href="#">non-lues <span class="badge">2</span></a>
        <!-- TODO count thread today -->
        <!-- TODO count thread today unread -->
    </span>

    <span class="col-xs-1 thread-actions">
        <span ng-show="showThreadActions()">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-share"></span>
            <span class="glyphicon glyphicon-print"></span>
            <span class="glyphicon glyphicon-trash"></span>
        </span>
    </span>

    <span class="col-xs-1">
        <input type="checkbox" ng-model="selectAllThreads" />
    </span>
</header>

<section>
    <div class="col-xs-12" ng-if="!threads.length">
        Aucune conversation n'a été trouvée.
    </div>

    <ul class="list-unstyled threads-list">
        <li
            class="row"
            style="border-color: #{{thread.securityColor}}"
            ng-repeat="thread in threads | orderBy:'dateUpdated':true"
            ng-class="{'selected': thread.selected}">

            <div class="col-xs-1 text-center date">
                {{thread.dateUpdated.format() | date:'medium'}}
            </div>

            <div class="col-xs-1 avatar text-center" >
                <img
                    tooltip="{{thread.getLastUser().displayName()}}"
                    class="img-circle"
                    ng-src="{{thread.getLastUser().getAvatarSrc()}}"
                    alt="avatar" />
            </div>

            <div class="col-xs-8 text" ng-click="openThread(thread)">
                <div class="users">
                    <span
                        tooltip="{{thread.users | joinUsers:-1 }}"
                        ng-bind-html="thread.users | joinUsers:3">
                    </span>
                </div>

                <div class="labels">
                    <span
                        class="label label-default"
                        style="color: {{label.color}}; background: {{label.background}}"
                        ng-repeat="label in thread.labels">
                        {{label.label}}
                    </span>
                    <span class="badge">
                        {{thread.users.length}}
                    </span> {{thread.title}}
                </div>

                <div class="text text-muted">{{thread.text}}</div>
            </div>

            <div class="col-xs-1">
                <div class="attachments" ng-if="thread.attachment">
                    <img
                        ng-click="openAttachment(thread.attachment)"
                        ng-src="{{thread.getAttachmentIconSrc()}}" />
                </div>
            </div>

            <div class="col-xs-1">
                <input type="checkbox" ng-model="thread.selected" />
            </div>

            <!--<span class="progress">
                <span class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                </span>

                TODO add confidentiality value to thread -->
                <!-- <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{thread.confidentiality}}" aria-valuemin="0" aria-valuemax="100" style="width: {{thread.confidentiality}}%">
                    <span class="sr-only">{{thread.confidentiality}} Complete (success)</span>
                </div>
            </span>-->
        </li>
    </ul>
</section>
