<header class="threads-list-header" ng-show="threads.list.length">
    <span class="col-xs-10">
        <a href="">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <strong>1</strong>-<strong>{{threads.list.length}}</strong> sur <strong>{{threads.list.length}}</strong>
         -
        <strong>{{threads.unread}}</strong> non-lues
        <a href="">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </span>

    <span class="col-xs-1 thread-actions">
        <span ng-show="showThreadActions()">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-share"></span>
            <span class="glyphicon glyphicon-print"></span>
            <span class="glyphicon glyphicon-trash"></span>
        </span>
    </span>

    <span class="col-xs-1">
        <input type="checkbox" ng-model="selectAllThreads" />
    </span>
</header>

<section>
    <div class="col-xs-12" ng-if="!threads.list.length">
        Aucune conversation n'a été trouvée.
    </div>

    <ul class="list-unstyled threads-list">
        <li
            class="row"
            style="border-color: #{{thread.securityColor}}"
            ng-repeat="thread in threads.list | orderBy:'dateUpdated':true"
            ng-class="{'selected': thread.selected, 'unread': thread.unread}"
            ng-click="openThread(thread)">

            <div class="col-xs-1 text-center date">
                {{thread.dateUpdated.format() | date:'medium'}}
            </div>

            <div class="col-xs-1 avatar text-center" >
                <img
                    tooltip="{{thread.getLastUser().displayName()}}"
                    class="img-circle"
                    ng-src="{{thread.getLastUser().getAvatarSrc()}}"
                    alt="avatar" />
            </div>

            <div class="col-xs-8 text">
                <div class="users">
                    <span
                        tooltip="{{thread.users | joinUsers:-1 }}"
                        ng-bind-html="thread.users | joinUsers:3">
                    </span>
                </div>

                <div class="tags">
                    <span
                        class="tag label label-default"
                        style="color: {{tag.color}}; background: {{tag.background}}"
                        ng-repeat="tag in thread.tags"
                        ng-click="filterByTag(tag.id); $event.stopPropagation()">
                        {{tag.label}}
                    </span>
                    <span class="badge">
                        {{thread.users.length}}
                    </span> {{thread.title}}
                </div>

                <div class="text text-muted">{{thread.text}}</div>
            </div>

            <div class="col-xs-1">
                <div class="attachments" ng-if="thread.attachment">
                    <img
                        ng-click="openAttachment(thread.attachment); $event.stopPropagation()"
                        ng-src="{{thread.getAttachmentIconSrc()}}" />
                </div>
            </div>

            <div class="col-xs-1">
                <input type="checkbox"
                    ng-model="thread.selected"
                    ng-click="$event.stopPropagation()" />
            </div>
        </li>
    </ul>
</section>
