/**
 * List of threads
 */


@threadMargin: 10px;
@avatarSize: 57px;

header.threads-list-header {
    padding: 5px 0 25px 0;

    span.thread-actions {
        span.glyphicon {
            margin: 0 3px;
        }
    }
}

ul.threads-list {
    > li.row {
        clear:both;
        padding: @threadMargin 0;
        margin: 0;
        border-left: 8px solid black;
        .transition();

        &.selected {
            background: #d9dcf9 !important;
        }

        &:first-child {
            margin-top: 12px;
        }

        &:nth-child(even) {
            background-color: #EDEDED;
        }

        input[type=checkbox] {
            margin-top: 24px;
        }

        div.text {
            cursor: pointer;
        }

        div.date {
            margin-top: 10px;
        }

        div.avatar {
            img {
                margin-top: 2px;
                max-width: @avatarSize;
                max-height: @avatarSize;
            }
        }

        div.avatar,
        div.recipients,
        div.labels,
        div.text,
        div.attachments {
            .inlineblock();
        }

        span.label {
            margin: 0 2px;
        }
    }
}
