body {
    font-family : @sansFontFamily;
}

#main {
    min-height: 500px;
    margin: @headerHeight 0;

    div#main-container {
        padding-top: 15px;

        &.two-columns {
            border-right: 1px solid silver;
            margin-bottom: @footerHeight + 10px;
        }
    }

    div#panel {
        padding-top: 15px;
    }
}
