body {
    font-family : @sansFontFamily;
}

#main {
    min-height: 500px;

    div#main-container {
        padding-top: 15px;

        &.two-columns {
            border-right: 1px solid silver;
        }
    }

    div#panel {
        padding-top: 15px;
    }
}
