<div id="write-message">
    <form class="form-horizontal" role="form" ng-submit="submitMessage()" novalidate>
        <div class="form-group">
            <label for="messageto" class="col-xs-1 control-label">À</label>
            <div class="col-xs-7">
                <span class="badge recipient-picked" ng-repeat="recipient in message.recipients">
                    {{recipient.displayName()}}
                    <span
                        class="glyphicon glyphicon-remove cursor"
                        ng-click="removeRecipient(recipient); focusInput=true"
                        ng-model="message.recipients"></span>
                </span>

                <input
                    type="text"
                    class="form-control recipient"
                    id="messageto"
                    name="messageto"
                    placeholder="Destinataire"
                    ng-model="to"
                    focus-on="recipientRemoved"
                    typeahead="user.displayName() for user in users | filter:$to | limitTo:8">&nbsp;
                <a href="#">Cc</a>/<a href="#">Cci</a>
            </div>
        </div>

        <div class="form-group">
            <label for="message-title" class="col-xs-1 control-label">Objet</label>
            <div class="col-xs-3">
                <input id="message-title" type="text" class="form-control input-default" ng-model="message.title" placeholder="Objet de votre message">
            </div>

            <label for="message-protocol" class="col-xs-1 control-label">Protocole</label>
            <div class="col-xs-3">
                <select
                    id="message-protocol"
                    class="form-control"
                    ng-model="message.protocole"
                    ng-options="p for p in availableProtocoles">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="message-body" class="col-xs-1 control-label">Message</label>
            <div class="col-xs-11">
                <textarea id="message-body" class="form-control" rows="6" placeholder="" ng-model="message.body"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-10">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </div>
    </form>
</div>
