<section id="search-form">
    <!-- Form search -->
    <form class="form-search">
        <div class="input-group">
            <input type="text" class="form-control search-query" placeholder="Search a message, a contact, a device, a file, a group, an event, a tag...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </form>
</section>

<section id="inbox">
    <tabset>
        <!-- Messages tab -->
        <tab
            ng-click="loadContent(tab)"
            ng-repeat="tab in tabs"
            heading="{{tab.title}}"
            active="tab.active"
            disabled="tab.disabled">

            <tab-heading ng-class="{ 'closable' : !!tab.tooltip }">
                <span tooltip="{{tab.tooltip}}">{{tab.title}}</span>
                <button
                    type="button"
                    class="close"
                    aria-hidden="true"
                    ng-click="closeTab(tab)"
                    ng-if="!!tab.tooltip">&times;
                </button>
            </tab-heading>
        </tab>

        <!-- Write a message tab -->
        <tab select="writeMessage()">
            <tab-heading>
                <i class="glyphicon glyphicon-pencil"></i>
            </tab-heading>
        </tab>
    </tabset>

    <div class="tabContent" ui-view="tabContent"></div>
</section>
