<header class="threads-list-header">
    <span class="col-xs-11">Aujourd'hui 24/12/2013 :
        <a href="#">Discussions récentes <span class="badge">12</span></a>
        <a href="#">non-lues <span class="badge">2</span></a>
        <!-- TODO count thread today -->
        <!-- TODO count thread today unread -->
    </span>
    <span class="col-xs-1"><input type="checkbox"></span>
</header>

<section>
    <ul class="list-unstyled threads-list">
        <li
            class="row"
            style="border-color: #{{thread.securityColor}}"
            ng-repeat="thread in threads"
            ng-click="openThread(thread)">

            <div class="col-xs-1 text-center date">
                {{thread.date_updated | date:'medium'}}
            </div>

            <div class="col-xs-1 avatar text-center" >
                <img
                    tooltip="{{thread.getLastRecipient().displayName()}}"
                    class="img-circle"
                    ng-src="{{thread.getLastRecipient().getAvatarSrc()}}"
                    alt="avatar" />
            </div>

            <div class="col-xs-8">
                <div class="recipients">
                    <span href="#" tooltip="{{thread.recipients | joinRecipients:-1 }}">
                        {{thread.recipients | joinRecipients:5 }}
                    </span>
                </div>

                <div class="labels">
                    <span class="label label-default">Perso</span>
                    <span class="label label-default">Boulot</span>
                    <span class="badge">
                        {{thread.recipients.length}}
                    </span> {{thread.title}}
                </div>

                <div class="text text-muted">{{thread.text}}</div>
            </div>

            <div class="col-xs-1">
                <div class="attachments">
                    <img src="/static/assets/images/u982_normal.png" alt="avatar" class="img-rounded" />
                </div>
            </div>

            <div class="col-xs-1">
                <input type="checkbox" />
            </div>

            <!--<span class="progress">
                <span class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                </span>

                TODO add confidentiality value to thread -->
                <!-- <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{thread.confidentiality}}" aria-valuemin="0" aria-valuemax="100" style="width: {{thread.confidentiality}}%">
                    <span class="sr-only">{{thread.confidentiality}} Complete (success)</span>
                </div>
            </span>-->
        </li>
    </ul>
</section>
