<div class="users-content">
    <div class="btn-group">
        <button
            type="button"
            class="btn btn-default"
            ng-click="createUser()">

            <span class="glyphicon glyphicon-user"></span> Créer un contact
        </button>
        <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown">

            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="" ng-click="createGroup()">
                    <span class="glyphicon glyphicon-user"></span> Créer un groupe
                </a>
            </li>
        </ul>
    </div>

    <div class="groups">
        <div ng-repeat="group in groups">
            <a class="" ng-click="group.group.isCollapsed = !group.group.isCollapsed">
                <span class="caret"></span>
                {{group.group.label}}
            </a>
            ({{group.group.connectedUsersCount}}/{{group.users.length}})

            <div collapse="group.group.isCollapsed">
                <ul class="users">
                    <li class="" ng-repeat="user in group.users">
                        <span
                            class="connected-status glyphicon glyphicon-ok-sign"
                            ng-class="user.connected ? 'on' : 'off'">
                        </span>
                        <span tooltip="{{user.message}}">
                            <a href="">{{user.displayName()}}</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
